::before,:after {
    box-sizing: border-box;
}
*{
    position: relative;
    margin: 0;
    padding: .0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    min-height: linear-gradient(to);
}